/* Google font
font-family: 'Montserrat', sans-serif; */

* {
  margin: 0 ;
  padding: 0;
}

body {
  background-color: black;
  text-align: center;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica","Arial", sans-serif;
  font-style: normal;
}

h1,
h2 {
  color: #f5f5f7;
}

h1 {
  font-size: 10vh;
  font-size: 5vw;
  margin-bottom: 0;
  font-weight: 600px;
}

h2 {
  font-size: 6vh;
  font-size: 3vw;
  font-weight: 400px;
  margin-bottom: 20px;
}

p {
  color: #86868b;
  font-size: 1.5vw;
  margin-bottom: 20px;
}

button {
  padding:0;
  margin:0 1%;
}

.main-link {
  font-size: 2vw;
  padding: 0 15px;
  text-decoration: none;
  color: #4c95f7;
}

.img {
  width: 1060px;
  margin-top: 110px;
}

a:hover {
  text-decoration: underline;
}

.super {
  font-size: 1.2vw;
  padding: 0 0;
  color: #86868b;
  text-decoration: none;
  margin-bottom: 20px;
}

.super:hover {
  color: #4c95f7;
  text-decoration: none;
}

.contain {
  position: relative;
}

.centered {
  position: absolute;
  top: 30px;
  width: 100%;
  margin: auto;
}

.white {
  height: 20px;
  background-color: #f5f5f7;
}

.btn-text p{
  padding:0 7%;
  font-size:1rem;
  color:#f5f5f7;
  margin-bottom:0;
  font-family: 'Montserrat', sans-serif;
}

.bottom-container{
  padding: 2rem 0;
  background-color:#1238d1;
  height:200px;
}

.btns {
  padding: 1rem 2rem;
}

/* |||||||||||||||||||||||||||| MEDIA BREAKS  ||||||||||||||||||||||||||||||| */
@media only screen and (max-width: 1680px) {
  .img {
    width: 960px;
    margin-top: 100px;
  }

  .bottom-container {
    padding: 5rem 0;
    background-color:#1238d1;
    height:290px;
  }
}

@media only screen and (max-width: 1460px) {
  .img {
    width: 960px;
    margin-top: 60px;
  }
  .bottom-container {
    padding: 5rem 0;
    background-color:#1238d1;
    height:300px;
  }
}

@media only screen and (max-width: 1260px) {
  .img {
    width: 860px;
    margin-top: 50px;
  }

  .super {
    font-size: 1.2vw;
  }

  .bottom-container {
    padding: 8rem 0;
    background-color:#1238d1;
    height:390px;
  }
}

@media only screen and (max-width: 1160px) {
  .img {
    width: 860px;
    margin-top: 40px;
  }

  .super {
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 1060px) {
  .img {
    width: 800px;
    margin-top: 50px;
  }

  .super {
    font-size: 1.2vw;
  }


}

@media only screen and (max-width: 960px) {
  .img {
    width: 760px;
    margin-top: 30px;
  }
  .super {
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 798px) {
  .img {
    width: 600px;
    margin-top: 50px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }

  .super {
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 620px) {
  .img {
    width: 450px;
    margin-top: 95px;
  }

  .main-link {
    font-size: 2.5vw;
  }

  .super {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 500px) {
  .main-link {
    font-size: 3vw;
  }
  .img {
    width: 350px;
    margin-top: 110px;
  }
}
